{% extends 'base.html' %} {% block content %}
<form method="POST" id="edit-post-form" action="/posts/{{ post.id }}/edit">
	<h1>Edit Post</h1>
	<p>Title: <input name="title-input" value="{{ post.title }}" /></p>
	<p>
		Post Content:
		<input name="content-input" value="{{ post.content }}" />
	</p>
	{% for tag in tags %}
	<div class="form-group form-check">
		{% if tag in post.tags %}
		<input type="checkbox" checked class="form-check-input" name="post-tag" id="tag_{{ tag.id }}" value="{{ tag.id }}" />
		{% else %}
		<input type="checkbox" class="form-check-input" name="post-tag" id="tag_{{ tag.id }}" value="{{ tag.id }}" />
		{% endif %}
		<label class="form-check-label" for="{{ tag }}">{{ tag.name }}</label>
	</div>
	{% endfor %}
	<a href="/posts/{{ post.id }}" class="btn btn-outline-secondary">Cancel</a>
	<button class="btn btn-success" type="submit">Save</button>
</form>
{% endblock %}
