{% extends 'base.html' %} {% block content %}
<div class="user-wrapper">
	<div class="user-image-wrapper">
		<img
			class="user-image"
			style="max-width: 100px"
			src="{{ user.image_url }}"
		/>
	</div>
	<div class="user-details-wrapper">
		<h1 class="user-name">{{ user.full_name }}</h1>
		<div class="user-modify">
			<form method="post" action="/users/{{ user.id }}/delete">
				<a
					href="/users/{{ user.id }}/edit"
					class="btn btn-primary user-modify-edit"
				>
					Edit
				</a>
				<button class="btn btn-danger user-modify-delete">
					Delete
				</button>
			</form>
		</div>
	</div>
	<div class="user-posts-wrapper">
		<h2>Posts</h2>
		<ul class="user-posts-list">
			{% for post in posts %}
			<li>
				<a href="/posts/{{ post.id }}">{{ post.title }}</a>
			</li>
			{% endfor %}
		</ul>
		<a href="/users/{{ user.id }}/posts/new" class="btn btn-primary"
			>Add Post</a
		>
	</div>
</div>

{% endblock %}
