{% extends 'base.html' %} {% block content %}
<div class="single-post-wrapper">
	<h1>{{ post.title }}</h1>
	<p class="single-post-content">{{ post.content }}</p>
	<p><em>by {{ post.user.full_name }} on {{ post.cleaned_date }}</em></p>
	<a href="/posts/{{ post.id }}/edit" class="btn btn-primary">Edit</a>
	<form method="post" action="/posts/{{ post.id }}/delete">
		<button class="btn btn-danger">Delete</button>
	</form>
	<div class="single-post-wrapper">
		<b>Tags:</b>
		{% for tag in post.tags %}
		<a href="/tags/{{ tag.id }}"><span class="badge badge-primary">{{ tag.name }}</span></a>
		{% endfor %}
	</div>
</div>

{% endblock %}
