{% extends 'base.html' %} {% block content %}
<div class="user-wrapper">
	<div class="user-image-wrapper">
		<img
			class="user-image"
			style="max-width: 100px"
			src="{{ user.image_url }}"
		/>
	</div>
	<div class="user-details-wrapper">
		<div class="user-name">{{ user.first_name }} {{ user.last_name }}</div>
		<div class="user-modify">
			<form method="post" action="/users/{{ user.id }}/delete">
				<a
					href="/users/{{ user.id }}/edit"
					class="btn btn-primary user-modify-edit"
				>
					Edit
				</a>
				<button class="btn btn-danger user-modify-delete">
					Delete
				</button>
			</form>
		</div>
	</div>
</div>

{% endblock %}
